/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/*********************************************************************/
/*********************************************************************/
:root {
    --champagne: #fcfbf3;
}

body {
    background-color: var(--champagne);
    margin: 0;
    font-family: 'Abhaya Libre', serif;
    font-weight: 500;
    color: #283618;
}

#container {
    display: flex;
}

#hero-container {
    position: relative;
    display: flex;
    flex-shrink: 0;
    vertical-align: middle;
    justify-content: center;
    width: fit-content;
    height: auto;

    & img#hero {
        background-image: url(images/lo-res_hero.jpg);
        display: block;
        max-height: 100vh;
    }

    & #hero-banner {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        bottom: 65%;
        left: 0;
        width: 100%;
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%);
        text-align: center;
        padding: 20px 0;

        & img#logo {
            width: 30%;
        }

        & #company {
            font-size: 5em;
            font-weight: 900;
            margin-block-start: -1.5rem;
            color: var(--champagne);
        }
    }
}

#credit {
    position: absolute;
    padding-inline-start: 12px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #4f525791;
    color: rgb(255, 255, 255);
    font-weight: 900;   
    & a{
        color: #d6e79d;
    }
}

#main-container {
    margin-top: 3.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#description {
    width: 75ch;
}

#description h2 {
    font-size: 2.5em;
}

#description p {
    font-size: 1.25em;
    margin-top: 4px;
}

#description p:last-child {
    font-size: 1.25em;
    font-weight: 800;
    margin-top: 2.5%;
    margin-bottom: 48px;
}

#form-container {
    display: flex;
    justify-content: center;
    padding: 2.5%;
    background-color: #28361814;
    min-height: 100px;
    width: 100%;

    & form {
        width: 75ch;
    }
}

legend {
    font-weight: 800;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    gap: 2rem;
}

.form-column {
    width: 40%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#footer {
    margin-top: 2.5%;
    width: 75ch;

    & p {
        font-size: 1.25rem;
    }
}

button {
    color: #FEFAE0;
    border: 0px;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 900;
    font-size: 1.2rem;

    &:hover {
        cursor: pointer;
    }
}


.button-container {
    display: flex;
    gap: 1.5rem;
}

#sign-up-btn {
    color: #FEFAE0;
    border: 0px;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 900;
    font-size: 1.2rem;
    background-color: #283618;

    &:hover {
        cursor: pointer;
        background-color: #606C38;
    }
}

#github-btn {
    background-color: #4f5257;

    & img {
        width: 25px;
        margin-inline-end: 4px;
    }

    &:hover {
        background-color: #606C38;
    }
}

#log-in {
    color: #606C38;
    text-decoration: none;
    font-weight: 900;

    &:hover {
        color: #283618;
    }
}

input {
    outline: none;
    border-radius: 4px;
    border: 1px solid #283618;
    font-size: 1.25rem;
    padding: 7px 7px 5px 7px;
}

input[type="password"]:invalid {
    border-color: #bc6c25;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
    border: 2px solid #606C38;
}